body{
  background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; */
  top: 0px !important;
}

#container {

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}


#center {
  border-radius: 25px;
  background: rgba(233, 231, 231, 0.918);
  margin: auto;
  width: 50%;
  padding: 20px;
}
#textInput{
  margin-right: 10px;
}

#submit{

  margin-top: 10px;
}

.radioItem{
  margin-bottom: 20px;
}

.row {
  display: flex;
  margin-bottom: 20px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
