body{
  background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; */
  top: 0px !important;
}

#container {

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

#saved_answer_topic{
  padding-top: 1px;
}


#center {
  border-radius: 25px;
  background: rgba(233, 231, 231, 0.918);
  margin: auto;
  width: 50%;
  padding: 20px;
  flex-direction: column;
  max-height: 100vh;
}
#textInput{
  margin-right: 10px;
}

#submitButton{

  margin-top: 10px;
  margin-bottom: 5px;
}
#saved_answer_topic{
  margin-top: 0px;
 
}

.formButton{

  border-radius: 5px;
}

h4, h5{
  font-weight: normal;
}

#gender{
  margin-bottom: 5px;
}
#probability{
  margin-top: 5px;
  margin-bottom: 35px;
}

#saved_answer_container{
  border-radius: 5px;
  border-style: dashed;
  border-color: gray;
  display:none;
 
}
.radioItem{
  margin-bottom: 20px;
}

.row {
  display: flex;
  margin-bottom: 30px;
  
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 1;
  padding: 10px;
  flex-direction: column;
}

#clearButton{
  margin-bottom: 10px;
}