body{
  background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; */
  top: 0px !important;
}

#alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  display: none;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

#saved_answer_topic{
  padding-top: 1px;
}


#textInput{
  margin-right: 10px;
}

#submitButton{

  margin-top: 10px;
  margin-bottom: 5px;
}
#saved_answer_topic{
  margin-top: 0px;
 
}

.formButton{

  border-radius: 5px;
}

h4, h5{
  font-weight: normal;
}

#gender{
  margin-bottom: 5px;
}
#probability{
  margin-top: 5px;
  margin-bottom: 35px;
}

#saved_answer_container{
  border-radius: 5px;
  border-style: dashed;
  border-color: gray;
  display:none;
 
}
.radioItem{
  margin-bottom: 20px;
}

.row {
  display: flex;
  margin-bottom: 30px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 1;
  padding: 20px;
 
}

#clearButton{
  margin-bottom: 10px;
}

.center {
  width: 35%;
  border-radius: 60px;
  padding: 0px 70px 70px 40px;
  background: rgba(233, 231, 231, 0.918);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}